<footer class="ads-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row text-center text-md-left">
        <div class="col-md-4 col-sm-6 mb-4">
          <h5 class="footer-title">Dịch vụ khách hàng</h5>
          <ul class="footer-links">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Tin tức</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
          <h5 class="footer-title">Chính sách</h5>
          <ul class="footer-links">
            <li><a href="#">Phương thức thanh toán</a></li>
            <li><a href="#">Chính sách đổi trả</a></li>
            <li><a href="#">Chính sách vận chuyển</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
          <h5 class="footer-title">ikea store</h5>
          <img
            src="../images/ikeastore-bocongthuong__1_.webp"
            alt="Đã Thông Báo"
            class="footer-img"
          />
          <p>Điện thoại: 0973464543</p>
          <p>Giờ làm việc: Thứ 2 - Chủ nhật: 8h - 21h</p>
          <p>Email: ikea.store@gmail.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="phone-icon-wrapper">
    <div class="phone-icon">
      <i class="fas fa-phone-alt"></i>
      <div class="phone-info">Gọi ngay: 0973464543</div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row social-icons-row">
        <div class="col-12 text-center">
          <ul class="social-links-icons">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center footer-bottom-text">
        <p>&copy; 2024 IKEA Store. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
