<nav class="ads-navbar">
  <div class="container d-flex justify-content-between">
    <ul class="nav justify-content-start flex-nowrap">
      <li class="nav-item">
        <a class="nav-link" href="#">Tất cả</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ phòng khách</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ phòng ngủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ phòng tắm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ bếp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ dùng bàn ăn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ trẻ em</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Đồ dùng gia đình</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Decor/trang trí</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tin tức</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="all-categories"
          role="button"
          >Tất cả danh mục</a
        >
        <div
          class="dropdown-menu dropdown-menu-right multi-column"
          aria-labelledby="all-categories"
        >
          <div class="row">
            <div class="col-md-6">
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Đồ phòng khách</a
              >
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Đồ dùng gia đình</a
              >
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Đồ dùng nhà bếp</a
              >
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Đồ phòng ngủ</a
              >
              <a class="dropdown-item" href="#"><img src="" alt="" /> NEW</a>
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Sản phẩm khuyến mãi</a
              >
            </div>
            <div class="col-md-6">
              <a class="dropdown-item" href="#">Sản phẩm mới</a>
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Đồ trẻ em</a
              >
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Đồ dùng bàn ăn</a
              >
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Đồ phòng tắm</a
              >
              <a class="dropdown-item" href="#"
                ><img src="" alt="" /> Decor/trang trí</a
              >
              <a class="dropdown-item" href="#">Sản phẩm nổi bật</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
